.wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-height: min(calc(100vh - 96px - 60px), 734px);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper-padding {
    padding: 16px;
}